<div class="card bg-base-100 w-full shadow-xl rounded-lg">
  <figure class="rounded-lg">
    <img
      src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp"
      alt="Shoes"
    />
  </figure>
  <div class="card-body gap-0 p-2">
    <div class="flex flex-row">
      <div role="button" class="btn btn-circle avatar me-2">
        <div class="w-10 rounded-full">
          <img
            alt="Tailwind CSS Navbar component"
            src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.webp"
          />
        </div>
      </div>
      <h2 class="card-title text-sm">
        this is the video title tell you get bored of typing
      </h2>
    </div>
    <p class="text-xs text-gray-400 mb-0">person name</p>
    <p class="text-sm text-gray-400">
      <span>71K views</span> . <span>1 day ago</span>
    </p>
  </div>
</div>
